*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#tools{
    background-color: #1A2238; 
}
.tool-head{
    width:15%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    color: #F4DB7D;
    background-color: #1A2238; 
    border: 2px solid #F4DB7D ;
    border-style: dotted;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 60px;
    
}
.tool-section{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}
.tools-card{
    width: 80%;
    height: 100%;
    margin: auto;
    border-bottom: 2px solid #F4DB7D;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
#tool-logo{
   width: 50%;
   height: 80%;
   margin: auto;
}
#tool-logo img{
    width: 80px;
    height: 100%;
    display: block;
    margin: auto;
}
#tool-logo img:hover{
    cursor: pointer;
}
.tool-title{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    margin-top: 10px;
}
.tool-title p:hover{
  color: #F4DB7D;
  cursor: pointer;
}
@media (max-width: 940px){
    .tool-head{
        width: 20%;
        height: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .tool-head h1{
        font-size: 18px;
    }
    .tool-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .tools-card{
        border: 1px solid #F4DB7D ;
        border-radius: 5px;
    }
    #tool-logo img{
        display: block;
        margin: auto;
    }
}