*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1A2238;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 50px 0px 100px;
}
nav .logo{
    width:260px ;
    font-size: 25px;
    color: #F4DB7D;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.span{
    color:#FF6A3D ;
    font-weight: 600;
    margin: 5px;
    transition: background-color 2s ease-out 100ms
}
.span:hover{
   color: #ee3b04;
   cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
nav ul li a{
 color: #fff;
 text-decoration: none;
 font-size: 18px;
 font-weight: 500;
 letter-spacing: 1px;

}
nav ul li a:hover{
color: #F4DB7D;
}
nav .menu-btn{
    color: #F4DB7D;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
.last_list{
    display: inline-flex;
    align-items: center;
    justify-content: baseline;
  
}
.last_list>button{
    margin-top: 0px;
}
#click{
    display: none;
}
#resume-link-1{
    /* display: inline-flex; */
 
}
#resume-button-1{
    /* width: 100px; */
    /* display: block; */
    border: none;
}
@media (max-width: 940px){
    nav{
        width: 100%;
    }
    nav.logo{
        margin-right: 50px;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #1A2238;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover{
color: #F4DB7D;
}
nav .menu-btn{
    display:block;
}

}