#about-heading{
    margin: auto;
    text-align: center;
    font-family:Poppins, sans-serif;
}
#about-heading h1{
    color: #444444;
    font-weight: 600;
}
#about-heading h1 span{
  color: #1395ba;
}
#details{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
#details p{
    width: 58%;
    font-size: 18px;
    font-weight: 500;
    font-family:Poppins, sans-serif;
    color: #444444;
    text-align: left;
    word-spacing: 5px;
    line-height: 28px;
}
#profile-pic{
    height: 297px;
    width: 270px;
    border-top-right-radius: 20px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(71, 182, 246, 0.25) 0px 54px 55px, rgba(7, 170, 252, 0.12) 0px -12px 30px, rgba(6, 164, 255, 0.12) 0px 4px 6px, rgba(2, 196, 255, 0.17) 0px 12px 13px, rgba(0, 195, 255, 0.09) 0px -3px 5px;
}
#profile-pic img{
width: 100%;
height: 100%;
border-top-right-radius: 20px;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    #details p{
        width: 70%;
     font-size: 15px;
  }
  #profile-pic{
     width: 220px;
     height: 250px;
  }
}
@media screen and (max-width: 767px){
#about{
    margin-top: 150px;
  }
  #details{
    flex-direction: column-reverse;
  }
  #details p{
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
}