*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1A2238;
}
.footer{
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -20px;
    position: fixed;
    bottom: 0;
}
h3{
    text-align: center;
    color: #F4DB7D;
    font-weight: 500;

}
span{
    color: #ed4613;
}
